.addproduct {
  background-color: #f1f1f1;
  min-height: 100vh;
}
.wrapper {
  width: 50%;
  background-color: #fff;
  box-shadow: 0 0.5em 1em rgba(0 0 0 / 15%);
  padding: 2em 3em;
  border-radius: 8px;
  margin: 0 auto;
}
.input_box h1 {
  font-size: 1.5em;
}
.input_box input {
  border: none;
  outline: none;
  padding: 0.6em 0.4em;
  font-size: 1.65em;
  border-radius: 7px;
  margin-bottom: 1.5em;
  background-color: #f0f0f0;
  width: 100%;
}
.wrapper button {
  width: 100%;
  margin: 1em 0;
  padding: 0.5em 3em;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #fff;
  background-color: goldenrod;
  font-size: 1.6em;
}
.input_box label {
  width: 100%;
  display: block;
  text-align: center;
}
.input_box .add_prod_img {
  width: 80px;
  border: 1px solid #999;
  border-radius: 5px;
}
