@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
html,
body {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}
.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
section {
  padding: 7rem 7%;
}
.title {
  font-size: 3.5rem;
  letter-spacing: 1px;
  color: #333;
  margin-bottom: 3rem;
  text-align: center;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 200px;
  height: 2px;
  background: linear-gradient(to right, transparent, #333, transparent);
}
@media screen and (max-width: 990px) {
  html,
  body {
    font-size: 55%;
  }
}
@media screen and (max-width: 550px) {
  html,
  body {
    font-size: 50%;
  }
  section {
    padding: 4rem 3%;
  }
}
